{% extends "photonic/view.html" %}

{% block content %}
    <form id="form" autocomplete="off" method='post' enctype="multipart/form-data">
        {{ form }}
    </form>
{% endblock %}

{% block buttons %}
    <a href="{{ APP }}/services/subscriber/{{id}}" class="btn btn-default">Cancel</a>
    <a data-confirm="Delete subscriber?" data-closeall href="{{ APP }}/services/subscriber/delete/{{id}}" class="btn btn-danger">Delete</a>
    <a href="{{ APP }}/services/subscriber/edit/{{id}}" data-form="form" class="btn btn-primary">Update</a>
{% endblock %}
